.tooltip {
    transition: opacity 0.3s ease, transform 0.3s ease;
    pointer-events: none;
    position: fixed;
    top: -9999px;
    left: -9999px;
    z-index: 10;
    opacity: 0;
    box-shadow: -5px -5px 15px rgba(62, 62, 62, 0.25);
    &.tooltip--visible {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
    &.tooltip--move {
        margin-top: -5px;
        transform: translate3d(0, 0, 0);
    }
    &.removing {
        opacity: 0;
    }
    &__inner {
        font-size: 10px;
        margin: 0;
        padding: 10px 15px;
        color: #fff;
        position: relative;
        white-space: nowrap;
        font-weight: 700;
        background: #111;
        border-radius: 3px;
    }
    &__detail {
        display: block;
        position: absolute;
    }
    &--bottom {
        margin-top: 15px;
        transform: translate3d(0, 5px, 0);
        .tooltip__detail {
            border-right: 3px solid transparent;
            border-bottom: 3px solid #111;
            border-left: 3px solid transparent;
            top: -3px;
            left: calc( 50% - 3px);
        }
        &.removing {
            transform: translate3d(0, 5px, 0);
        }
    }
    &--right {
        transform: translate3d(5px, 0, 0);
        .tooltip__detail {
            border-top: 3px solid transparent;
            border-right: 3px solid #111;
            border-bottom: 3px solid transparent;
            left: -3px;
            top: calc( 50% - 3px);
        }
        &.removing {
            transform: translate3d(5px, 0, 0);
        }
    }
    &--left {
        transform: translate3d(-5px, 0, 0);
        .tooltip__detail {
            border-top: 3px solid transparent;
            border-left: 3px solid #111;
            border-bottom: 3px solid transparent;
            right: -3px;
            top: calc( 50% - 3px);
        }
        &.removing {
            transform: translate3d(-5px, 0, 0);
        }
    }
}